# Temporary files/folders
.directory
/.vscode
/.mypy_cache
/__pycache__

# Js/Ts
node_modules/
package-lock.json
yarn.lock
out-log.txt

# C/C++
a.out

# Secrets
/appConfigs/bash/.bash-plugins-hidden/**
scripts/github/gh-pat.txt

# Bin folder
sync12
gupdatex.sh
