/* The console.log() of css */
/* https://youtu.be/ii-lSK2_Nu4 */

/* 1) Outline is better than border because it doesn't take up space */
* {
  outline: solid red 1px !important;
}

/* 2) Low opacity background color */
* {
  background-color: rgb(0 100 0 / 0.1) !important;
  /* Just write background if you're lazy */
  background: rgb(0 100 0 / 0.1) !important;
}
