// Eslint is installed globally for you (test with eslint -v).

// To use eslint just run `eslint .` or `eslint <PATH_TO_DIR>`.
// It's important to add the directory!

// To check env info run:
// eslint --env-info

// To print config for specific file run:
// eslint --print-config <PATH_TO_FILE>
{
  // Personal Configuration Files are deprecated!
  // https://eslint.org/docs/latest/use/configure/configuration-files#personal-configuration-files-deprecated
  // "root": true,

  "parserOptions": {
    // https://stackoverflow.com/questions/57378411/eslint-fails-to-parse-and-red-highlights-optional-chaining-and-nullish-coal
    "ecmaVersion": 2020
  },

  "env": {
    "es6": true,
    // By default allow both node & browser apis.
    // You will choose only one in project level .eslintrc files.
    "node": true,
    "browser": true
  },

  // Important!
  // The config "eslint:recommended" doesn't force style rules.
  // It only checks logic inconsistencies!
  "extends": "eslint:recommended",

  // https://eslint.org/docs/rules/
  "rules": {
    // "semi": ["warn", "always"],
    // "quotes": ["warn", "single"]
    "no-unused-vars": "warn"
  }
}
